{{define "inicio"}}
{{ template "cabecera"}}
        </br></br>
        <a name="" id="" class="btn btn-primary" href="/crear" role="button">Incluir</a></br></br>
       
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a name="" id="" class="btn btn-primary" href="/crear" role="button">Incluir</a></br></br>
          </div>
        </div>

        <table class="table">
          <thead class="black white-text">
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              {{range.}}
              <tr>
                  <td scope="row">{{.Id}}</td>
                  <td>{{.Nombre}}</td>
                  <td>{{.Correo}}</td>
                  <td>
                    <a name="" id="" class="btn btn-primary" href="/editar?id={{.Id}}" role="button">Editar</a>
                    <a name="" id="" class="btn btn-danger" href="/borrar?id={{.Id}}" role="button">Borrar</a>
                  </td>
              </tr>
              {{end}}
          </tbody>
        </table>
{{ template "pie"}}
{{end}}